<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qs@6.10.1/dist/qs.min.js"></script>
    <title>SentenceHQ | Reset Password</title>
</head>

<body class="bg-light">
    <header>
        <div class="navbar navbar-white bg-white shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg height="20" viewBox="-21 -47 682.66669 682" width="20" class="me-2"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0" />
                        <path d="m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0" />
                        <path d="m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0" />
                        <path d="m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0" />
                    </svg>
                    <strong>SentenceHQ</strong>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="alert alert-dismissible fade show d-flex align-items-center d-none" id="alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            Password do not match
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height: 75vh !important;">
            <div class="card w-25 shadow-sm row">
                <div class="card-img-top bg-light p-2">
                    <div class="text-center">
                        <h3>Change Password</h3>
                        <p>Hi {{username}}(<b>{{email}}</b>), Please create a new password. make sure it not a password
                            you used before</p>
                    </div>
                </div>
                <div class="card-body">
                    <form class="g-3 needs-validation" novalidate id="chpass">
                        <div class="p-3">
                            <div class="mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    id="pass" required />
                            </div>
                            <div class="mb-3">
                                <input type="password" name="confirm" class="form-control" placeholder="Confirm"
                                    id="confirm" required />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-secondary btn-block w-100" id="button"
                                    value="Change Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="text-muted mt-3 py-5 text-center bg-white shadow-sm">
        <p>&copy; SentenceHQ, {{year}}</p>
    </footer>
    <script>
        (function () {
            jQuery(() => {
                var pass = $('#pass');
                var confirm = $('#confirm');
                var alert = $('#alert');
                var form = $("#chpass");
                var btn = $("#button");
                console.log(qs.parse(window.location.href));

                function checkIfBothAreFilled() {
                    if (pass.val().length <= 8 && confirm.val().value <= 8) {
                        btn.prop('disabled', true);
                    } else {
                        btn.prop('disabled', false);
                    }
                }

                checkIfBothAreFilled()

                pass.keyup(function (event) {
                    var v = event.target.value;
                    checkIfBothAreFilled()

                    if (v.length >= 8) {
                        pass.removeClass('is-invalid')
                        pass.addClass('is-valid')
                    } else {
                        pass.removeClass('is-valid')
                        pass.addClass('is-invalid')
                    }
                });

                confirm.keyup(function (event) {
                    var v = event.target.value;
                    checkIfBothAreFilled()

                    if (v.length >= 8) {
                        confirm.removeClass('is-invalid')
                        confirm.addClass('is-valid')
                    } else {
                        confirm.removeClass('is-valid')
                        confirm.addClass('is-invalid')
                    }
                });

                form.submit(function (event) {
                    event.preventDefault();

                    if (pass.val() !== confirm.val()) {
                        pass.addClass('is-invalid')
                        confirm.addClass('is-invalid')
                        alert.removeClass('d-none')
                        alert.addClass('alert-danger')
                    } else {
                        $.post('/auth/change-password',
                            { password: pass.val() },
                            function (data, status, xhr) {
                              console.log(data)
                            }).done(function () {
                            })
                            .fail(function (jqxhr, settings, ex) {});
                    }
                })
            })

        })()
    </script>
</body>

</html>