<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <title>SentenceHQ | Reset Password</title>
</head>

<body class="bg-light">
  <header>
    <div class="navbar navbar-light bg-light shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg height="20" viewBox="-21 -47 682.66669 682" width="20" class="me-2" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0" />
            <path d="m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0" />
            <path d="m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0" />
            <path d="m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0" />
          </svg>
          <strong>SentenceHQ</strong>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div class="d-flex justify-content-center align-items-center" style="height: 75vh !important;">
      {% if user is none %}
      <div class="card w-25 shadow-sm">
        <div class="card-img-top bg-secondary p-2">
          <div class="text-center">
            <h3>Reset Password</h3>
            <p>
              Please provide your email/username to receive a reset Password
              link
            </p>
          </div>
        </div>
        <div class="card-body">
          <form action="/auth/reset-password" method="POST">
            <div class="p-3">
              <div class="mb-3">
                <input type="text" name="email" class="form-control" placeholder="Email/Username" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block w-100">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% elif user %}
      <div class="alert alert-success">
        A reset email has been sent to your email
      </div>
      {% elif error %}
      <div class="alert alert-danger">
        No account with provided credentials was found
      </div>
      {% endif %}
    </div>
  </main>
  <footer class="text-muted mt-3 py-5 text-center bg-white shadow-sm">
    <p>&copy; SentenceHQ, {{year}}</p>
  </footer>
</body>

</html>