<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="font-family: sans-serif;">
    <div style="display: block; margin: auto; max-width: 600px;">
        <p>Hi {{username}},</p>
        <p>Someone has request to reset the account password</p>
        <p>If the request was initiated by you please click on the link below. Otherwise you can leave it.</p>
        <p><a href="{{reset_link}}">Click Here</a></p>
    </div>
</body>
</html>